<h1 class="title animate__animated animate__tada">{{ title }}</h1>
<ul class="animate__animated animate__flipInX" *ngIf="mode =='list'">
    <p class="text-center" *ngIf="todos.length==0"><small>Você ainda não tem nenhuma tarefa hoje!</small></p>
    <li *ngFor="let todo of todos">{{todo.title}}
        <button (click)="Remove(todo)"><i class="far fa-trash-alt"></i></button>
        <button *ngIf="!todo.done" (click)="MarkAsDone(todo)"><i class="far fa-check-circle"></i></button>
        <button *ngIf="todo.done" (click)="MarkAsUndone(todo)"><i class="fas fa-times"></i></button>
    </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animate__animated animate__flipInX">
    <h1 class="text-center">Nova Tarefa</h1>
    <form [formGroup]="formAdicionar">
        <input type="text" placeholder="Titulo da Tarefa" maxlength="60" formControlName="title">
        <small class="danger" *ngIf="formAdicionar.controls.title.invalid && !formAdicionar.controls.title.pristine">
            Este campo deve conter entre 3 e 60 caracteres<br>
        </small>
        <p class="text-center">
            <button class="button" [disabled]="formAdicionar.invalid" (click)="Add()"><i class="far fa-save"></i> Salvar</button>
        </p>
    </form>
    <br><br>
</div>

<button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('add')" *ngIf="mode =='list'">
    <i class="fas fa-plus-circle"></i>
    NOVA TAREFA
</button>
<button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('list')" *ngIf="mode =='add'">
    <i class="fas fa-times"></i>
    CANCELAR
</button>
